@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');
@import './scss/mixin.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Fira Code';
    color: white;
    background-color: #282C33; 
}